@import 'Variaveis';


.container-erro{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 10px;
    border-radius: 8px;
}

.title-erro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: $second-color;
    border-left: 15px solid $first-color;
    padding: 5px;
    font-size: 1.5rem;
    box-shadow: 2px 1px 100px 1px $first-color;
}

span{
    color: $first-color;
}

strong{
    color: red;
}

.link-home{
    color: $first-color;
    text-decoration: underline;
}

