@import 'Variaveis';


footer{
    display: none;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 30px;
    background-color: $second-color;
    box-shadow: 2px 1px 100px $first-color;
}

.links-footer{
    color: $first-color;
}


@media screen and (max-width: 400px){
    
    footer{
        display: flex;
    }


}