@import "Variaveis";

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 50;
    background-color: $second-color;
    padding: 30px;
}

.logo-icon, .title-header{
    color: $first-color;
}

.logo{
    display: flex;
    gap: 15px;
}

.links-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.back-info-icons{
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 400px){

    .navbar{
        justify-content: center;
    }
    
    .home-icon, .back-info-icons{
        display: none;
    }
}

@media screen and (max-width: 468px) {

    .navbar{
        padding: 5px;
    }
    
}