@import "Variaveis";

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 50;
    background-color: $second-color;
    padding: 30px;
}

.logo-icon, .title-header{
    color: $first-color;
}


@media screen and (max-width: 468px) {

    .navbar{
        padding: 5px;
    }
    
}